body{display: flex;
    flex-direction: column;
 
  
}
header{background-color: blue;
border: 1px solid black;
flex-basis: 200px;}


main{
    background-color:brown;
border: 1px solid black;
flex-basis: 200px;
}
footer{ background-color: green;
    border: 1px solid black;
flex-basis: 200px;}
